*{
	margin:0; padding: 0;
	box-sizing: border-box;
	border: none;
	text-decoration: none;
	text-transform: none;
	transition: 0.2s linear;
	font-family: sans-serif;

}
html{
	font-size: 65%;
	scroll-behavior: smooth;
	overflow-x: hidden; 
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #409172;
	padding: 30px 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .2);


}
section{
	padding:32px 9% ;

}
header .logo{
	font-size: 20px;
	color: white;
	font-family: sans-serif;


}
header.logo span{
	color: pinks;
}

header .navbar a{
	font-size: 20px ;
	color: white;
	padding: 0 20px;
	font-family: sans-serif;
}

header .navbar a:hover{
	color: pink;
}

header #toggle{
	display: none;
}

header .fa-bars{
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	display: none;
	padding: 0.5rem 1.5rem;
	border: 16px solid;
	display: none;

}
.our{
	font-size: 30px;
	align-content: center;
	text-align: center;
	color:#409172 ;
	padding: 20px 20px;
}

#home{
	background-image: url(images/car-repair.jpg); 
	background-size: cover;
	min-height: 800px;
	display: flex;
	align-items: center;
	background-size:cover;
	background-position: center;
	position: relative;
	justify-content: center;
	background-size: cover;
	color: white;
}




#home .container h2 {
	font-size: 48px;
	margin: 0;
	color: white;
}

#home .container p {
	font-size: 24px;
	padding: 8px 0;
	line-height: 1.5;
}

#about{

	background-size: cover;
	min-height: 500px;
	display: flex;
	align-items: center;
	background-size:cover;
	background-position: center;
	position: relative;
	justify-content: center;
	background-size: cover;
	color: white;
	background-color: #9adbad;
}




#about .container h2 {
	font-size: 48px;
	margin: 0;
	color: black;
	text-align: center;
}

#about .container p {
	font-size: 24px;
	padding: 8px 0;
	line-height: 1.5;
	color: black;
	text-align: center;
}
#about .container a{
	align-items: center;
	justify-content: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #409172;
	color: #fff;
	border: none;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: #666;
}

.btns{
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;


}


.services{
	background: #409172;
	display: flex;
	padding-bottom: 80px ;
	padding-top: 80px;
	gap: 10px;
	min-height: 400px;



}
.services .icons{
	background-color: white;
	display: inline-block;
	align-items: center;
	padding: 16px;
	border: 8px solid rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	flex: 1 1 240px;
	display: inline-block;
	vertical-align: top;
	vertical-align: top;
	margin-right: 40px;
	align-content: center;
	text-align: center;



}
.services .icons img{
	height: 80px;
	width: 80px;
	margin-right: 16px;
}

.services .icons h1{
	color: #409172 ;
	padding-bottom:8px ;
	text-align: center;E


}
.services .icons span{
	font-size: 18px;
	align-items: center;
}


.contain {
	max-width: 900px;
	margin: 0 auto;
	padding: 40px;
	background-color: f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	font-size: 20px;
}

h1 {
	text-align: center;
	margin-top: 0;
	color: #409172;
}


form {
	display: flex;
	flex-direction: column;
}



input,
textarea {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 20px;
}



input[type="submit"]:hover {
	background-color: pink;
}

input[type="submit"]:focus {
	outline: none;
}

textarea {
	resize: vertical;
	height: 150px;
}
.hi{
	font-size: 30px;
}
.icons{
	
}
.team-member {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	align-content: center;
	align-items: center;
}

.team-member img {
	max-width: 900px;
	height: 300px;
	border-radius: 10px;
}

.team-member h3 {
	margin-top: 0;
}

@media only screen and (max-width: 600px) {
	.container {
		max-width: 400px;
	}
}
footer {
	background-color: #409172;
	color: #fff;
	padding: 20px;
	font-size: 14px;
	text-align: center;
	font-family: sans-serif;
}
footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px #fff;
}

footer a:hover {
	border-bottom: none;
}

@media (max-width:991px){
	html{
		font-size: 50%;
	}
	header{
		padding: 32px;
	}
}

@media (max-width:761px ){
	header .fa-bars{
		display: block;
	}
	header .navbar{
		position: absolute;
		background:#eee;
		border-top: 1 rem solid rgba(0, 0, 0, .1);
		top: 100%;
		border-radius: 10px;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	header #toggle:checked ~ .navbar{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	header .navbar a{
		margin: 0px ;
		padding: 10px;
		border: 8px solid rgba(0, 0, 0, 0.1);
		background: #409172;
		display: block;
		border-radius: 0px;
	}

	#home .container h2{
		font-size: 80px ;
	}

	


}

}
.services .icons{
	background-color: white;
	display: flex;
	align-items: center;
	padding: 16px;
	border: 6px solid rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	flex: 1 1 24px;
	display: inline-block;
	vertical-align: top;
	vertical-align: top;
	margin-right: 40px;
	align-content: center;
	text-align: center;



}

}
@media (max-width:450px){
	html{
		font-size: 50%;
	}
}


